body {
    background-color: gainsboro;
    /* color: #2c3e50; */
    color: white;
    font-size: x-large;
}
.weather {
    text-align: right;
}
.content {
    /* border: 2px solid black; */
    text-align: center;
    margin: 10%;
}
h1 {
    cursor: pointer;
    font-size: 80pt;
}
ul {
    list-style: none;
    text-align: left;
    margin-left: 35%;
    margin-right: 35%;
}
.nameFrom, .greetings{
    display: none; 
    /* visibility: hidden; */
}
h3 {
    display: none;
}
.nameForm>input {
    width: 500px;
    border: none;
    text-align: center;
    background: transparent;
    /* text-decoration: underline; */
    line-height: 10%;
    font-size: 40pt;
    color: gainsboro;
    border-bottom: 2px solid white;
    margin-bottom: 50px;
}
.toDoForm>input {
    width: 300px;
    border: none;
    /* text-align: center; */
    background: transparent;
    /* text-decoration: underline; */
    line-height: 10%;
    font-size: 20pt;
    color: white;
    border-bottom: 2px solid white;
}
.toDoForm>input::placeholder {
    color: white;
}
input:focus {
    outline:none;
}
/* .delAllBtn {
    
} */

@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.bgImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn 0.5s linear;
}